.container {
display: flex;
    justify-content: space-evenly;
    padding: 50px;
    height: auto;
    background: #35ca9e;
}

.card {
    width: 350px;
    height: 600px;
background: #211d1e;
}

.fa-sharp {
    font-size: 60px;
    color: #35ca9e;
}

.qoutes {
    display: flex;
    justify-content: center;
    align-items: center;

}

.description {
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    font-family: Arial;

}

.image-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #35ca9e;
}

.image-descr {
    font-size: 25px;
    font-family: Arial;
    text-transform: capitalize;

}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}