body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.father {
    width:50%;
    height: 100vh;
    background:cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block1 {
    width:100%;
    height: 28%;
    background: #35ca9e;
}

.block2 {
    width: 100%;
    height: 23%;
    background: red;
    }

.block3 {
    width: 100%;
    height: 42%;

}