.main {
    background: #35ca9e;
    display: flex;
    flex-direction: column;
}


.A {
    background: #8fffdf;
    height: 180px;
    width: 95%;
    text-align: center;
    margin: 10px;
}

@media screen and (min-width: 0) and (max-width: 600px)
{
.A {
    width: 95%px;
    height: 120px;
    padding-right:10px;
}
}

.b {
    background: #8fffdf;
    margin: 10px;
    height: 200px;
    text-align: center;
    text-justify: ;
}
.b-c-d-e-f {
    display: flex;
    justify-content: space-between;
     width: 95%;
}

@media screen and (min-width: 0) and (max-width: 600px)
{
.b-c-d-e-f {
    display: flex;
    flex-direction: column;
    width: 95%;

}
}

.b-c-d-e {
    width: 95%;
}

.c-d-e {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}



.box {
    background: #8fffdf;
    height: 100px;
    width: 100px;
    text-align: center;
    }

.f{
    width: 300px;
    background: #8fffdf;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

@media screen and (min-width: 0) and (max-width: 600px) {
    .f {
        width: 95%;
        height: 80px;
    }

}

:root{font-family:sans-serif}
*,:before,:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #011c37;

    background-size: 5px 5px, cover;
}

button {
    position: relative;
    display: block;
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 900;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #011c37;
    background-color: rgba(41, 255, 106, 0);
    background-image: linear-gradient(150deg, rgba(41, 255, 106, 0.2), rgba(41, 255, 106, 0.1));
    background-size: calc(100% - 15px) calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 0 1px rgba(41, 255, 106, 0.1), inset 0 0 0 1px rgba(41, 255, 106, 0.1);
    transform: translateZ(0);
    transition: transform 0.1s,

}

button:hover {
    padding-right: calc( 2rem - 10px);
    padding-left: calc( 2rem - 10px);
    background-size: calc(100%) calc(100%);
    line-height: calc( 4rem - 15px);
    background-color: #29ff6a;
    box-shadow: 0 0 15px 1px rgba(41, 255, 106, 0.4), inset 0 0 0 1px #29ff6a;
    transition: transform 0.1s,

}

button:active {
    transform: scale(0.9);
}

button:before,
button:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 4px;
    background-color: #29FF6A;
    animation-name: comet;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-delay: -0.3;
    border-radius: 50%;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: all 4s;
}

button:before {
    animation-duration: 2s;
}

button:after {
    animation-duration: 2.5s;
}

button:hover:before,
button:hover:after {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-50%) translateY(-50%) scale(2);
    box-shadow: 0 0 15px 1px #29FF6A, 0 0 2px rgba(41, 255, 106, 0.7), 0 0 2px rgba(41, 255, 106, 0.5), 0 0 2px rgba(41, 255, 106, 0.3), 0 0 1px rgba(41, 255, 106, 0.25);
    transition: all 0.7s;
}

@keyframes button {
    0% {
        top: 0;
        left: 0;
        box-shadow: 0 0 15px 1px #29FF6A, 0 0 2px rgba(41, 255, 106, 0.7), 0 0 2px rgba(41, 255, 106, 0.5), 0 0 2px rgba(41, 255, 106, 0.3), 0 0 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-in;
    }

    15% {
        top: 0;
        left: 50%;
        box-shadow: 0 0 15px 1px #29FF6A, -4px 0 2px rgba(41, 255, 106, 0.7), -8px 0 2px rgba(41, 255, 106, 0.5), -12px 0 2px rgba(41, 255, 106, 0.3), -14px 0 1px -1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-out;
    }

    30% {
        top: 0;
        left: 100%;
        box-shadow: 0 0 15px 1px #29FF6A, 0 0 2px rgba(41, 255, 106, 0.7), 0 0 2px rgba(41, 255, 106, 0.5), 0 0 2px rgba(41, 255, 106, 0.3), 0 0 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-in;
    }

    40% {
        top: 50%;
        left: 100%;
        box-shadow: 0 0 15px 1px #29FF6A, 0 -4px 2px rgba(41, 255, 106, 0.7), 0 -8px 2px rgba(41, 255, 106, 0.5), 0 -12px 2px rgba(41, 255, 106, 0.3), 0 -14px 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-out;
    }

    50% {
        top: 100%;
        left: 100%;
        box-shadow: 0 0 15px 1px #29FF6A, 0 0 2px rgba(41, 255, 106, 0.7), 0 0 2px rgba(41, 255, 106, 0.5), 0 0 2px rgba(41, 255, 106, 0.3), 0 0 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-in;
    }

    65% {
        top: 100%;
        left: 50%;
        box-shadow: 0 0 15px 1px #29FF6A, 4px 0 2px rgba(41, 255, 106, 0.7), 8px 0 2px rgba(41, 255, 106, 0.5), 12px 0 2px rgba(41, 255, 106, 0.3), 14px 0 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-out;
    }

    80% {
        top: 100%;
        left: 0;
        box-shadow: 0 0 15px 1px #29FF6A, 0 0 2px rgba(41, 255, 106, 0.7), 0 0 2px rgba(41, 255, 106, 0.5), 0 0 2px rgba(41, 255, 106, 0.3), 0 0 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-in;
    }

    90% {
        top: 50%;
        left: 0;
        box-shadow: 0 0 15px 1px #29FF6A, 0 4px 2px rgba(41, 255, 106, 0.7), 0 8px 2px rgba(41, 255, 106, 0.5), 0 12px 2px rgba(41, 255, 106, 0.3), 0 14px 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-out;
    }

    100% {
        top: 0;
        left: 0;
        box-shadow: 0 0 15px 1px #29FF6A, 0 0 2px rgba(41, 255, 106, 0.7), 0 0 2px rgba(41, 255, 106, 0.5), 0 0 2px rgba(41, 255, 106, 0.3), 0 0 1px rgba(41, 255, 106, 0.25);
        animation-timing-function: ease-in;
    }
}